* {
    margin: 0;
    padding: 0;
}

.home{
    margin: 10px 40px 0px 1400px;
    max-width: fit-content;
    position: static;
}

.home img:hover{
    transform: scale(1.5);
}

.logo {
    border-radius: 1000px;
    border-color: aqua;
    width: 200px;
    height: 200px;
    background-color: #00ffff;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;

}

.logo img {
    height: 250px;
    width: auto;
    margin: 0px 0px 0px -20px;
    position: relative;
}

.feedback {
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    margin-top: 30px;
    max-width: 240px;
    text-align: left;
}

input[type=text] {
    width: 235px;
}

.icons {
    width: 50px;
    height: auto;
    position: relative;
}

.icon {
    margin: auto;
    max-width: 220px;
    max-height:20px;
    position: relative;
    padding: 10px;
    margin-top: 20px;
}


.icon ul li {
    list-style-type: none;
    margin-top: 20px;
    display: inline;    
}

.icon ul li a{
    padding: 10px;
}

.icon ul li a img:hover{
    transform: scale(1.5);
}